%logo {
  font-family: getFont(logo), getFont(secondory);
  color: getColor(logo-main);

  @media screen and (max-width: 1199px) {
    @include itemTypography(700, 24px, 1.17);
  }

  @media screen and (min-width: 1200px) {
    @include itemTypography(700, 26px, 1.19);
  }
}

.logo__text {
  color: getColor(accent);
}

.logo__main {
  @extend %logo;

  &--revers {
    @extend %logo;
    @include centeredFlex();

    @media screen and (min-width: 1200px) {
      @include centeredFlex(inline-flex);
      justify-content: flex-start;
    }

    margin-bottom: 20px;
    color: getColor(logo-revers);
  }
}
